@import "../../../src/styles/variables.scss";

.header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 0 20px;

    img {
        cursor: pointer;
    }

    .header__menu {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        color: $white;
        align-items: center;
        cursor: pointer;

        span {
            margin-right: 30px;

            &:hover {
                text-decoration: underline;
            }
        }

        .menu__button--contact {
            font-family: "Fraunces", serif;
            background-color: $white;
            color: $very-dark-desaturated-blue;
            padding: 8px 30px;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: rgba($white, 0.3);
            }
        }
    }
}
