@import "../../../src/styles/variables.scss";

.header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    .header__menu {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        color: $white;
        align-items: center;
        cursor: pointer;

        span {
            margin-right: 30px;

            &:hover {
                text-decoration: underline;
            }
        }

        .menu__button--contact {
            background-color: $white;
            color: $very-dark-desaturated-blue;
            padding: 8px 30px;
            border-radius: 20px;
            cursor: pointer;

            &:hover {
                color: $white;
                background-color: rgba($white, 0.3);
            }
        }
    }
}
