@import "../../styles/variables.scss";

.Banner {
    .Nav {
        padding: 34px 48px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .logo__container {
            img {
                cursor: pointer;
                display: block;
                width: 170px;
                height: auto;
            }
        }

        ul {
            display: flex;
            align-items: center;

            @for $i from 1 through 3 {
                li:nth-of-type(#{$i}) {
                    margin: 0 50px 0 0;
                }
            }

            a {
                text-decoration: none;
                font-family: "Barlow", sans-serif;
                font-size: 18px;
                color: $white;

                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                cursor: pointer;
                border: none;
                background-color: $white;
                color: $very-dark-desaturated-blue;
                width: 140px;
                height: 56px;
                border-radius: 28px;
                font-family: "Barlow", sans-serif;
                font-size: 15px;

                &:hover {
                    color: $white;
                    background-color: rgba($white, 0.3);
                }
            }
        }
    }

    h1 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 120px 0 100px 0;
        font-family: "Fraunces", serif;
        font-size: 45px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 55px * 0.2;
        color: $white;
    }

    .img--arrow-down {
        animation: bounce 3s infinite;
        -webkit-animation: bounce 3s infinite;

        @keyframes bounce {
            0% {
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
            50% {
                transform: translateY(30px);
                -webkit-transform: translateY(30px);
                -moz-transform: translateY(30px);
                -ms-transform: translateY(30px);
                -o-transform: translateY(30px);
            }
            100% {
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }
        }
    }
}
