@import "../../styles/variables.scss";

.Banner {
    padding: 34px 48px 0 40px;
    background-color: $very-dark-desaturated-blue;

    & > img {
        width: 100%;
    }

    .Nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;

        .logo__container {
            img {
                cursor: pointer;
                display: block;
                width: 170px;
                height: auto;
            }
        }

        ul {
            display: flex;
            align-items: center;

            li {
                margin: 0 50px 0 0;

                a {
                    text-decoration: none;
                    font-family: "Barlow", sans-serif;
                    font-size: 18px;
                    color: $white;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                button {
                    cursor: pointer;
                    border: none;
                    background-color: $white;
                    color: $very-dark-desaturated-blue;
                    width: 140px;
                    height: 56px;
                    border-radius: 28px;
                    font-family: "Fraunces", serif;
                    font-size: 18px;

                    &:hover {
                        color: $white;
                        background-color: rgba($white, 0.3);
                    }
                }
            }
        }
    }
}
